<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/styles/estilos.css">
    <title>Analisis Siembra de Arboles</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg menu navbar-dark fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../assets/img/logo4.png" alt="" width="50" height="60">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="yarumal.html">Yarumal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="santaFe.html">Santa Fe de Antioquia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="caucasia.html">Caucasia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="belmira.html">Belmira</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="bello.html">Bello</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="caramanta.html">Caramanta</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main class="mt">
      <section class="banner">
        <img class="img_fluid" src="../assets/img/banner1.jpg" alt="">
        <h1 class="white txt_abs">Analisis <br> Siembra de <br> Arboles <br>Caramanta </h1>
      </section>
      <section class="container my-5">
        <div class="row">
          <div class="col-12 col-md-4">
            <img src="../assets/img/Caramanta.jpg" alt="" class="img-fluid w-100">
          </div>
          <div class="col-12 col-md-8 aling-self-center">
          <h2>Datos de siembra de mas de 100 arboles</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et praesentium voluptates ipsam perferendis iure id dolor nostrum, beatae animi fugiat ullam tenetur ab nesciunt! Et pariatur expedita quaerat rerum dolore.</p>

          <button type="button" class="btn btn-primary my-4" id="generarboton">Generar Reporte</button>

          <div class="d-none" id="reporte"> <!--d-none: para ocultar la tabla-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Mas de 100 arboles</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"><iframe src="../tables/arbolesCaramanta.html" height="200px" class="w-100"></iframe></div>
            </div>
          </div>

<!--AQUI VA EL BOTON Y LA TABLA-->
          </div>
          </div>
      </section>
      <section class="banner_img img_1">
        <div class="txt_banner">
          <h2>Caramanta:
            <br>Superficie: 82 Km²
            <br>Conformado por 3 corregimientos y 21 veredas, 
            <br>Es el pueblo de la ruana.
          </h2>
        </div>
      </section>
      <section>
        <iframe style="margin-top:5px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7942.243580183687!2d-75.64886754549903!3d5.548956477632552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4701de201a2e47%3A0x1706ed036a1dbc66!2sCaramanta%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1685924389626!5m2!1ses!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
   
      <footer class="section footer-classic context-dark bg-image  pd_footer" style="background: green ; ">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img src="../assets/img/logo4.png" alt="" width="50" height="60" srcset="../assets/img/logo4.png"></a>
                <p>Protection of Personal Data – Terms and conditions – Editorial Guidelines – Security and Privacy Policy – ​​Compliance with accessibility and usability of the Corporate Website</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>Cra 79AA #1A sur 185</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">reforestacion@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">311 123 45 67</a> <span>or</span> <a href="tel:#">312 987 65 43</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="yarumal.html">Yarumal</a></li>
                <li><a href="santaFe.html">Santa Fe de Antioquia</a></li>
                <li><a href="caucasia.html">Caucasia</a></li>
                <li><a href="belmira.html">Belmira</a></li>
                <li><a href="bello.html">Bello</a></li>
                <li><a href="caramanta.html">Caramanta</a></li>

              </ul>
            </div>
          </div>
        </div>
       <!-- 
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Yarumal</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>Santa Fe de SantaFedeAntioquia1</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>Caucasia</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>Belmira</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>Bello</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>Caramanta</span></a></div>
        </div>-->
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="../controllers/controlador.js"></script>
</body>
</html>